/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.81);
}
/* 首页侧栏卡片 */
.card-widget {
  background: rgba(255, 255, 255, 0.81) !important;
}
/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.81);
}
/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.81);
}
/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.81);
}
/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.81);
}
/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.81);
}